<div class="navbar">
  <ul class="nav-list">
    <li><a routerLink="/environments" routerLinkActive="active-link">Environments</a></li>
    <li><a routerLink="/import" routerLinkActive="active-link">Import</a></li>
    <li><a routerLink="/history" routerLinkActive="active-link">History</a></li>
    <li><a routerLink="/simulation" routerLinkActive="active-link">Simulation</a></li>
    <li><a routerLink="/export" routerLinkActive="active-link">Export</a></li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
