<h2 mat-dialog-title>Create Fact</h2>
<div mat-dialog-content>
  
  <h2>Dimension Levels</h2>
  <div *ngIf="dimensionLevels" class="dimension-container">
    
    <div class="dimension-item">
      <h3>Fact Type</h3>
      <select id="levelSelect" (change)="onfactTypeChange($event)">
        <option value="">Select Type</option>
        <option *ngFor="let type of factTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div *ngFor="let dimension of dimensionLevels" class="dimension-item">
      <h3>{{ dimension.value }}</h3>
      <select id="levelSelect" (change)="onLevelChange(dimension.dimensionId, $event)">
        <option value="">Select Level</option>
        <option *ngFor="let level of dimension.levels" [value]="level.id">{{ level.value }}</option>
      </select>
      <div *ngIf="aggregations[dimension.dimensionId] && aggregations[dimension.dimensionId].length > 0">
        <select id="dimensionValueSelect" (change)="onDimensionValueChange(dimension.dimensionId, $event)">
          <option value="">Select Dimension Value</option>
          <option *ngFor="let dimensionValue of aggregations[dimension.dimensionId]" [value]="dimensionValue.levelId">
            {{ dimensionValue.value }}
          </option>
        </select>
      </div>
    </div>
    <div class="dimension-item">
      <h3>Input Field</h3>
      <input matInput [(ngModel)]="newFact.amount" placeholder="Enter value" />
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onSave()">Save</button>
</div>
