<div *ngIf="factsResult">

  <div class="button-container">
    <button (click)="applyFilter()">Apply Filter</button>
    <button (click)="openCreateFactModal()">Add Fact</button> <!-- New 'Add Fact' button -->
  </div>
  
  <div *ngIf="dimensionLevels" class="dimension-container">
    
    <div class="dimension-item">
      <h3>Fact Type</h3>
      <select id="levelSelect" (change)="onfactTypeChange($event)">
        <option value="">Select Type</option>
        <option *ngFor="let type of factTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div *ngFor="let dimension of dimensionLevels" class="dimension-item">
      <h3>{{ dimension.value }}</h3>
      <select id="levelSelect" (change)="onLevelChange(dimension.dimensionId, $event)">
        <option value="">Select Level</option>
        <option *ngFor="let level of dimension.levels" [value]="level.id">{{ level.label }}</option>
      </select>
      <div *ngIf="dimensionValues[dimension.dimensionId] && dimensionValues[dimension.dimensionId].length > 0">
        <select id="dimensionValueSelect" (change)="onDimensionValueChange(dimension.dimensionId, $event)">
          <option value="">Select Dimension Value</option>
          <option *ngFor="let dimensionValue of dimensionValues[dimension.dimensionId]" [value]="dimensionValue.levelId">
            {{ dimensionValue.value }}
          </option>
        </select>
      </div>
    </div>
    
  </div>

  <div *ngIf="factsResult.length > 0">
    <div *ngFor="let fact of factsResult" class="fact-container">
      <div class="fact-dimensions">
        <h2>{{ fact.dataType.label }}</h2>
        <div class="dimension-row"><p>{{ fact.aggregation1.dimensionLabel }}</p></div>
        <div *ngIf="fact.aggregation2 !== undefined" class="dimension-row"><p>{{ fact.aggregation2.dimensionLabel }}</p></div>
        <div *ngIf="fact.aggregation3 !== undefined" class="dimension-row"><p>{{ fact.aggregation3.dimensionLabel }}</p></div>
        <div *ngIf="fact.aggregation4 !== undefined" class="dimension-row"><p>{{ fact.aggregation4.dimensionLabel }}</p></div>
        <p>{{ fact.amount | currency }}</p>
        <input matInput [(ngModel)]="amount" placeholder="Enter value" />
        <button (click)="updateFact(fact)">Edit</button>
      </div>
    </div>
  </div>
</div>
