<div class="history-container">

  <div class="scopes-list">
    
    <!-- sliders -->
    <div *ngFor="let dimension of dimensionLevels" class="dimension-item">
      <p>{{ dimension.value }}</p>
      <select id="levelSelect" (change)="onLevelChange(dimension.dimensionId, $event)">
        <option value="">Select Level</option>
        <option *ngFor="let level of dimension.levels" [value]="level.id">{{ level.value }}</option>
      </select>
    </div>
    <button (click)="applyFilter()">Apply Filter</button>

    <!-- scopes -->
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading">
      <li *ngFor="let scope of scopes">
        <strong (click)="onSelectScope(scope)">{{ scope.display }}</strong>
      </li>
    </div>
  </div>


  <div class="history-content">
    <!-- Display filtered scope data where timeAggregationLabel is "YEAR" -->
    <div *ngIf="scopeData && scopeData.length > 0">
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <!-- Dynamically create a column for each unique year -->
            <th *ngFor="let year of uniqueYears">{{ year }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate through each unique Type -->
          <tr *ngFor="let type of uniqueTypes">
            <td>{{ type }}</td>
            <!-- Display the amount for each year in the corresponding column -->
            <td *ngFor="let year of uniqueYears">
              <span *ngIf="getAmountForTypeAndYear(type, year)">{{ getAmountForTypeAndYear(type, year) }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

</div>