<div *ngIf="isLoading">Loading...</div>

<button class="btn btn-primary mb-3" routerLink="/create-environment">Create Environment</button>

<div *ngIf="!isLoading">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <!-- Table displaying the environment data -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th *ngFor="let dimension of dimensions">{{ dimension.label }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate over environments and display them in rows -->
      <tr *ngFor="let environment of environments">
        <td>{{ environment.name }}</td>
        <td>{{ environment.levelLabel1 }}</td>
        <td *ngIf="dimensions.length >= 2">{{ environment.levelLabel2 }}</td>
        <td *ngIf="dimensions.length >= 3">{{ environment.levelLabel3 }}</td>
        <td *ngIf="dimensions.length >= 4">{{ environment.levelLabel4 }}</td>
        <td>
          <button class="btn btn-warning btn-action" (click)="updateEnvironment(environment.id)">Update</button>
          <button class="btn btn-danger btn-action" (click)="deleteEnvironment(environment.id)">Delete</button>
          <button class="btn btn-success mb-3 float-right" (click)="openSimulationModal()">Create Simulation</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngb-modal [(ngModel)]="isSimulationModalOpen">
  <div class="modal-header">
    <h4 class="modal-title">Create Simulation</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeSimulationModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="createSimulation()">
      <div class="form-group">
        <label for="algorithmSelect">Algorithm</label>
        <select id="algorithmSelect" class="form-control" [(ngModel)]="simulationCreateDto.algorithmId" name="algorithmId">
          <option *ngFor="let algorithm of algorithms" [value]="algorithm.id">{{ algorithm.label }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="simulationValue">Values</label>
        <input type="text" class="form-control" [(ngModel)]="simulationCreateDto.values" name="values">
      </div>

      <div class="form-group">
        <label for="simulationFacts">Simulation Facts</label>
        <input type="text" class="form-control" [(ngModel)]="simulationCreateDto.simulationFacts" name="simulationFacts">
      </div>

      <button type="submit" class="btn btn-primary">Create Simulation</button>
    </form>
  </div>
</ngb-modal>
