<div *ngIf="isLoading">Loading...</div>

<button class="btn btn-primary mb-3" routerLink="/create-environment">Create Environment</button>

<div *ngIf="!isLoading">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <!-- Table displaying the environment data -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th *ngFor="let dimension of dimensions">{{ dimension.value }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate over environments and display them in rows -->
      <tr *ngFor="let environment of environments">
        <td>{{ environment.name }}</td>
        <td>{{ environment.levelLabel1 }}</td>
        <td *ngIf="dimensions.length >= 2">{{ environment.levelLabel2 }}</td>
        <td *ngIf="dimensions.length >= 3">{{ environment.levelLabel3 }}</td>
        <td *ngIf="dimensions.length >= 4">{{ environment.levelLabel4 }}</td>
        <td>
          <button class="btn btn-warning btn-action" (click)="updateEnvironment(environment.id)">Update</button>
          <button class="btn btn-danger btn-action" (click)="deleteEnvironment(environment.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
